.loading-market-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  overflow: hidden;
  padding-top: 50px; // 预留导航栏高度

  .skeleton-list-wrapper {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding-top: calc(100vw / 3.3 + 50px); // 预留 banner + tabs 高度
    padding-bottom: 65px; // 预留 tabbar 高度
  }
}
