@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?790exe');
  src:  url('fonts/icomoon.eot?790exe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?790exe') format('truetype'),
    url('fonts/icomoon.woff?790exe') format('woff'),
    url('fonts/icomoon.svg?790exe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-messages-unread:before {
  content: "\e900";
}
.icon-settings-black:before {
  content: "\e901";
}
.icon-history-black:before {
  content: "\e902";
}
.icon-favorites-black:before {
  content: "\1f34d";
}
